body {
    color: rgb(136, 58, 102);
    background: rgb(194, 116, 151);
    margin: 0px;
    font-family: "Georgia", serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(83, 23, 43);
    padding: 20px;
    font-size: 32px;
    color: rgb(176, 67, 67);
}

.chamada {
    background: rgb(245, 175, 196);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.cabecalho-central {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(39, 39, 86);
}

.categoria h2 {
    color:rgb(82, 33, 69);
}